<div class="grid-container">
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S11.m4a"></audio-button>
    </div>
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S12.m4a"></audio-button>
    </div>
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S21.m4a"></audio-button>
    </div>
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S22.m4a"></audio-button>
    </div>
</div>
<router-outlet></router-outlet>