<div class="grid-container">
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S11.mp3"></audio-button>
    </div>
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S12.mp3"></audio-button>
    </div>
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S21.mp3"></audio-button>
    </div>
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S22.mp3"></audio-button>
    </div>
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S23.mp3"></audio-button>
    </div>
    <div class="grid-item">
        <audio-button sampleUrl="assets/audio/S24.mp3"></audio-button>
    </div>
</div>
<router-outlet></router-outlet>